<!doctype html>
<html ng-app="irth">

  <head>

      <title>Your Life</title>
    <meta http-equiv = 'Content-Language' content = 'en'/>
    <link rel="stylesheet" href="style.css"/>
  </head>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="irth.js"></script>

  <body ng-controller="ctrl" style="background: url('{{pictures[2]}}') center center fixed">
    <div class="side">
      <div style="text-align: center; padding:1em 0; width: 100%; background: rgba(12,3,46,.7); color: #aaa; clear: both;">
        <b ng-if="authObj.$getAuth().password.email">{{ authObj.$getAuth().password.email}}Life</b>
        <b ng-if="!authObj.$getAuth().password.email">yourLife</b>
        <span ng-show="authObj.$getAuth() || authObj.$requireAuth().$$state.value.uid">
          <b>| <a ng-click="authObj.$unauth()">Log out</a></b>
        </span>
        <form ng-submit="auth(login.email, login.password)" ng-show="location.$$absUrl !== '' && !authObj.$getAuth()">
          <input ng-model="login.email" placeholder="Email"/>
          <input ng-model="login.password" type="password" placeholder="password"/>
          <button type="submit">Login</button>
        </form>
        <hr/>
        <button style="width:48%;" ng-click="showCurrent = !showCurrent">Mission</button>
        <button style="width:48%;" ng-click="showMenu = !showMenu">Nav</button>

      </div>

      <div class="current" ng-if="!showCurrent">
        <h2>Today</h2>

        <span ng-if="$last" ng-repeat="yesterday in $parent.day | limitTo:-1 ">{{yesterday.goals}}</span>
        <hr>
        <h3>Objectives</h3>
        <div ng-if="!task.done === true" ng-repeat="(key,task) in $parent.task">
          <b>
            <a ng-click="completeTask(key); new.activity.name = task.name; new.activity.tags = task.tags; new.activity.details = (task.description || task.details )">{{task.name}}</a>
            <textarea ng-show="task.description" ng-model="task.description"></textarea>
            <textarea ng-show="task.details" ng-model="task.details"></textarea>
          </b>
        </div>
      </div>
    </div>
    <div ng-init="show.note.big = $parent.show.note.big; newNote={}; newNote.note = note.note;" ng-style="style.note" ng-if="$first" ng-repeat="note in note" ng-show="hide.note">
      <button ng-click="$parent.api.add.note(newNote); newNote.note = note.note;" style="position: absolute; right:-11px">Save</button>
      <button ng-click="$parent.style.note.height = '100%'; $parent.style.note.zIndex = 1000; $parent.style.note.top = 0; $parent.style.note.width = '97%'; $parent.show.note.big = !$parent.show.note.big;" ng-show="$parent.show.note.big" style="position: absolute; bottom:0; right:-11px">Large</button>
      <button ng-click="$parent.style.note.height = '300px'; $parent.style.note.zIndex = 0; $parent.style.note.top = ''; $parent.style.note.width = '300px'; $parent.show.note.big = !$parent.show.note.big;" ng-show="!$parent.show.note.big" style="position: absolute; bottom:0; right:-11px">Small</button>
      <textarea ng-style="{height:'inherit', width:'inherit', minHeight:'300px', minWidth:'300px', margin:'0 1%', padding:'5%', borderRadius:'10%'}"ng-model="note.note"></textarea>
    </div>
    <div ng-style="{position:'fixed', bottom:0, left: 0, zIndex:1001}">
      <button ng-click="hide.note = !hide.note"><span ng-show="hide.note">Hide</span><span ng-show="!hide.note">Note</span></button>
    </div>
    <div style="width: 79%; float:left; padding-left:1%; float: right;">
      <div style="text-align:center; padding:0em;overflow: visible; width:33%; float:left; margin-top:-20px" ng-repeat="(key,linkGroup) in nav" ng-if="!showMenu">
        <div style="position:relative; padding:1em 0; ">
          <h2 style="position:fixed;  background: rgba(239,221,249,.61); text-shadow: 2px -3px 3px 2px rgba(244, 236, 251, .97)">
            <a ng-click="showLinks[key] = !showLinks[key]">{{key | uppercase}}</a>
          </h2>
        </div>
        <div style="float: left; position:relative;">
          <div ng-show="!showLinks[$parent.key]" ng-repeat="link in linkGroup" style="padding:1.4em;">
            <a style="position:relative; text-shadow: 2px 3px 3px rgba(244, 236, 251, .97)!important;" ng-click="hideAll(); beGone[link] = ''"><button style="position:fixed; background: rgba(239,221,249,.38); font-size: 1.4em; width:15%; margin: -1em 2em; text-shadow: 2px 2px 5px rgba(55,34,21,.62);">{{link}}</button></a>
          </div>

        </div>
      </div>
        <div ng-repeat="life in lifestyle" >
          <div style="{{beGone[life]}}">
          <form class="new" id="{{life}}" ng-submit="$parent.api.add[life](new[life]); new[life]={};">

            <div>
              <input type="text" ng-model="new[life].name" placeholder="{{life}} name" x-webkit-speech="true"/>
            </div>

            <div>
              <textarea type="text" ng-model="new[life].details" placeholder="{{life}} details" ></textarea>
            </div>

            <div ng-if="life === 'day'">
              <textarea type="text" ng-model="$parent.new[life].recap" placeholder="{{life}} recap" ></textarea>
              <textarea type="text" ng-model="$parent.new[life].goals" placeholder="{{life}}-after's goals" ></textarea>
            </div>

            <div ng-if="life === 'diet'">
              <div class="multichoice" ng-init="nutrition.types = ['protein', 'fats', 'grains', 'legumes', 'fruits', 'vegetables', 'seeds-nuts', 'sugars']; nutrition.amounts = ['none', 'some', 'much', 'many', 'lots']">
                <table>
                  <tr>
                    <th>Nutrition Type</th>
                    <th>Nutrition Amount</th>
                  </tr>
                  <tr ng-repeat="type in nutrition.types">
                    <td>{{type}}</td>
                    <td ng-repeat="amount in nutrition.amounts">
                      <input type="radio" ng-model="new[life].nutrition[type]" value="{{amount}}"/>{{amount}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div ng-if="life === 'exercise'">
              <div class="multichoice" ng-init="mode.types = ['cardio', 'strength', 'HIIT', 'flex']; mode.amounts = ['none', 'little', 'some', 'much', 'MOAR']">
                <table>
                  <tr>
                    <th>Mode Type</th>
                    <th>Mode Amount</th>
                  </tr>
                  <tr ng-repeat="type in mode.types">
                    <td>{{type}}</td>
                    <td ng-repeat="amount in mode.amounts">
                      <input type="radio" ng-model="$parent.$parent.$parent.new[life].mode[type]" value="{{amount}}"/>{{amount}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
              <div ng-init="mode.minutes = mode.time; mode.hours = '';">
                <input type="number" ng-model="mode.minutes" placeholder="Minutes" ng-change="new[life].time = ((mode.hours * 60) + mode.minutes);"/>
                <input type="number" ng-model="mode.hours" placeholder="Hours" ng-change="new[life].time = ((mode.hours * 60) + mode.minutes);">
              </div>
            <input type="text" ng-model="new[life].tags" placeholder="Tags"/>
            <select ng-init="ratings = ['great', 'good', 'average', 'bleh', 'shitty']" ng-model="new[life].quality" ng-options="rating for rating in ratings | uppercase"><option value="">Quality</option></select>


            <div>
              <button class="submit"><h1>{{life}}</h1></button>
            </div>
          </form>
            <hr/>
            <div style="text-align: right;  clear:both"><button style="" ng-click="pastEntries = ! pastEntries">Past Entries</button></div>
            <hr/>
          <div ng-if="pastEntries" class="posts" ng-repeat="(key, entry) in $parent[life]">
            <input ng-if="entry.title" type="text" ng-model="entry.title" ng-click="showFullEntry = !showFullEntry"/>
            <input ng-if="entry.name" type="text" ng-model="entry.name" ng-click="showFullEntry = !showFullEntry"/>
            <hr/>
            <div ng-if="showFullEntry">
              <code ng-if="entry.time">{{entry.time}} minutes </code>
              <div ng-if="entry.details">
                <label for="details">Details</label>
                <textarea id="details" ng-model="entry.details"></textarea>
              </div>
              <div ng-if="entry.description">
                <label for="description">Description</label>
                <textarea id="description" ng-model="entry.description"></textarea>
              </div>
              <div ng-if="entry.recap">
                <label for="recap">Daily recap</label>
                <textarea id="recap" ng-model="entry.recap"></textarea>
              </div>
              <div ng-if="entry.note">
                <textarea id="note" ng-model="entry.note"></textarea>
              </div>
              <div ng-if="entry.goals">
                <label for="goals">Next day's goals</label>
                <input type="checkbox" ng-model="entry.goals[0].done"/> Achieved
                <textarea id="goals" ng-if="entry.goals" ng-model="entry.goals"></textarea>
                <textarea id="goals" ng-if="entry.goals[0].name" ng-model="entry.goals[0].name"></textarea>
              </div>
              <div ng-if="$parent.life === 'task'">
                <button ng-show="entry.done===false" ng-click="$parent.$parent.$parent.completeTask(key)">Done</button>
                <a ng-show="entry.done!==false" ng-click="$parent.$parent.$parent.unCompleteTask(key)">Task Complete / Renew?</a>
              </div>

              <div ng-if="entry.tags">
                <input type="text" ng-model="entry.tags"/>
              </div>
              <div ng-repeat="(key,mode) in entry.mode track by $index">
                {{key}}: <input type="text" ng-model="entry.mode[key]"/>
              </div>
              <div ng-repeat="(key,nutrition) in entry.nutrition track by $index">
                {{key}}: <input type="text" ng-model="entry.nutrition[key]"/>
              </div>
              <hr/>
            </div>

            <span ng-show="!remove" ng-click="remove = true"> X </span>
            <a  ng-show="remove" ng-click="remove = !remove">Cancel</a> |
            <a ng-show="remove" ng-click="removeEntry(life,key)"> Kick it! </a>
            <code>
              {{entry.created | date:['shortTime']}}
              {{entry.created | date:['mediumDate']}}
            </code>
            <div style="">
              <button style="float:right;" ng-click="$parent.new[life] = copy(entry);"> + </button>
              <button style="float:right;" ng-show="!showFullEntry" ng-click="showFullEntry = !showFullEntry"> > </button>
              <button style="float:right;" ng-show="showFullEntry" ng-click="showFullEntry = !showFullEntry"> ^ </button>
            </div>

          </div>
        </div>
      </div>
    </div>


  </body>
</html>

