<!doctype html>
<html ng-app="irth">

  <head>

      <title>Tracking Popdown</title>
      <style>
        * {
          font-family: "Helvetica", Arial, sans-serif;
        }
        body {
          min-width:600px;
          min-height:600px;
          max-width: 100%;
          background: rgba(245,246,227,.38);
        }
        a {font-family: "Lato", "Helvetica Neue", Arial, sans-serif; color: sienna; text-shadow: 0px 0px 1px rgba(255,255,255,.4); box-shadow:0px 2px 0px #555; padding:.05em;}
        .side a {color:darkorchid; text-shadow: 0px 0px 1px rgba(255,255,255,.4); box-shadow:0px 4px 0px #555; padding:.1em;}
        form {width:100%}
        .posts hr, br {width:92%; margin:4%}
        input {padding:1em; color: mediumslateblue;}
        input[type=text] {width:92%; margin: 4%; font-size: 2em; padding:.1em 0; max-height: 100%; background:rgba(255,255,255,.141414); border:none; padding:.1em}
        input[type=number] {width:38%; margin: 4%; font-size: 2em; padding:.1em 0; max-height: 100%; background:rgba(255,255,255,.141414); border:none; padding:.1em}
        textarea {color: darkslateblue; width:92%; margin: 4%; font-size: 1.4em; padding:.1em 0; max-height: 100%; background:rgba(255,255,255,.141414); border:none; padding:.1em}
        .posts {width:32%; float:left; background: rgba(255,255,255, .8); margin:.6%}
        .posts input[type=text] { font-size: 1.6em; }
        .posts textarea { font-size: 1.2em; }
        button {font-size: 1.6em; background:#555; color: #ccc}
        button.submit {width:100%;}
      </style>
      <!--
        - JavaScript and HTML must be in separate files: see our Content Security
        - Policy documentation[1] for details and explanation.
        -
        - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
       -->
  </head>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="irth.js"></script>

  <body ng-controller="ctrl">
    <div style="background:whitesmoke; width:20%; float:left;" class="side">
      <div style="float:right; text-align: right; padding:1em; width: 100%; background: #444; color: #aaa">
        <span ng-show="authObj.$getAuth() || authObj.$requireAuth().$$state.value.uid">
          <b>{{ authObj.$getAuth().password.email }} | <a ng-click="authObj.$unauth()">Logout</a></b>
        </span>
        <form ng-submit="auth(login.email, login.password)" ng-show="location.$$absUrl !== '' && !authObj.$getAuth()">
          <input ng-model="login.email" placeholder="Email"/>
          <input ng-model="login.password" type="password" placeholder="password"/>
          <button type="submit">Login</button>
        </form>
      </div>
      <span ng-repeat="(key,linkGroup) in nav">
        <span style="padding:1em;"><h2><a ng-click="showLinks[key] = !showLinks[key]">{{key | uppercase}}</a></h2></span>
        <div><button style="width:100%; padding:.2em" ng-show="showLinks[$parent.key]" ng-repeat="link in linkGroup" ng-click="hideAll(); beGone[link] = ''">{{link}}</button></div>
      </span>
    </div>

<div style="width: 79%; float:left; padding-left:1%;">
<!--

Activity

-->

  <!--div ng-repeat="life in cLifestyle">
    <form id="{{life.name}}" ng-submit="life.methods.create(life.models.name, life.models.time, life.models.details, life.models.tags); life.models.name=''; life.models.time=''; life.models.details=''; life.models.tags=['']" ng-init="life.models.tags = ['']">
      <div ng-repeat="(key,model) in life.models">

        {{key+ model}}
        <div ng-if="model  === 'string'">
          key:{{key}}
          <textarea ng-model="key" name="{{key}}" id="" cols="30" rows="10" placeholder="{{key}}"></textarea>
        </div>
        <div ng-if="typeof === 'number'">
          <input type="number" ng-model="key" name="{{key}}" placeholder="{{key}}"/>
        </div>
        <div ng-if="typeof === 'array'">
          <div ng-repeat="tag in model">
            <input type="text" ng-model="tag" placeholder="Tags" ng-blur="life.models.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="life.models.tags[$index + 1] = 'ok';">Another Tag</a>
          </div>
        </div>
      </div>
      <button class="submit">Submit {{life.name}}</button>
    </form>
  </div-->

      <div style="{{beGone.activity}}">
        Today's Goals:
        <b ng-repeat=" day in syncArray.day | limitTo:-1 ">{{day.goals[0].name}}</b>
        <hr>
        Open Tasks:
        <span ng-repeat="task in syncArray.task">
          <b ng-show="!task.done === true" ng-click="completeTask(task.$id); newActivity.name = task.name; newActivity.details = task.description" ><a>{{task.name}}</a><i ng-if="!$last">, </i></b>
        </span>
        <hr>

        <form id="activity" ng-submit="addActivity(newActivity.name, (newActivity.hours*60+newActivity.minutes), newActivity.details, newActivity.tags); newActivity.name=''; newActivity.time=''; newActivity.hours=''; newActivity.minutes=''; newActivity.details=''; newActivity.tags=['']" ng-init="newActivity.tags = ['']">
          <input type="text" ng-model="newActivity.name" placeholder="Activity"/>
          <input id="time" type="number" ng-model="newActivity.hours" placeholder="Hours"/>
          <input type="number" ng-model="newActivity.minutes" placeholder="Minutes"/>
          <textarea type="text" ng-model="newActivity.details" placeholder="Details"></textarea>
          <div ng-repeat="tag in newActivity.tags">
            <input type="text" ng-model="tag" placeholder="Tags" ng-blur="newActivity.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="newActivity.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Timeline Activation</button>
        </form>
        <hr/>

        <div ng-repeat="(key,activity) in activity | limitTo:-100">
          <div>
            <input type="text" ng-model="activity.name"/>
            <textarea ng-model="activity.details"></textarea>
          </div>

          <code>{{activity.time}} minutes on {{activity.created | date:'MM/dd/yyyy @ h:mma' }}. <span ng-show="!remove" ng-click="remove = true"> [Erase] </span><a ng-show="remove" ng-click="remove = !remove">Cancel</a> <a ng-show="remove" ng-click="removeEntry('activity',key)"> Remove Task </a></code>

          <hr/>
        </div>
        
      </div>
<!--

Events

-->
      <div style="{{beGone.event}}">

        <form id="event" ng-submit="addEvent(newEvent.name,newEvent.time); newEvent.name=''; newEvent.time='';">
          <input type="text" ng-model="newEvent.name" placeholder="Event"/>
          <input type="number" ng-model="newEvent.time" placeholder="Time"/>
          <button class="submit">Set in Motion</button>
        </form>
        Past Events:
        <hr/>
        <div ng-repeat="event in event | limitTo:-100">

            <div ng-if="$parent.syncArray.event[$index] !== $parent.syncArray.event[$index - 1]"><code>{{event.created | date }}</code></div>
          {{event.time}}: <b><input type="text" ng-model="event.name"/></b>
          <code><span ng-show="!remove" ng-click="remove = true"> [Erase] </span><a ng-show="remove" ng-click="remove = !remove">Cancel</a> <a ng-show="remove" ng-click="removeEntry('event',event.$id)"> Remove Event </a></code>

          <hr/>
        </div>
        
      </div>
<!--

Diet

-->
      <div style="{{beGone.diet}}">

        <form id="diet" ng-submit="addDiet(newDiet.name, newDiet.time, newDiet.nutrition, newDiet.details,newDiet.tags); newDiet.name=''; newDiet.time=''; newDiet.nutrition={}; newDiet.details=''; newDiet.tags=[''];" ng-init="newDiet.tags = ['']">
          <select ng-init="meals = ['breakfast', 'lunch', 'dinner', 'snack']" ng-model="newDiet.name" ng-options="meal for meal in meals | uppercase"><option value="">Choose meal type</option></select>
          <input type="number" ng-model="newDiet.time" placeholder="Time of Meal"/>
          <div ng-init="nutrition.types = ['fats', 'grains', 'fruits', 'vegetables', 'seeds-nuts', 'sugars']; nutrition.amounts = ['none', 'some', 'much', 'lots']">
            <table>
              <tr>
                <th>Nutrition Type</th>
                <th>Nutrition Amount</th>
              </tr>
              <tr ng-repeat="type in nutrition.types">
                <td>{{type}}</td>
                <td ng-repeat="amount in nutrition.amounts">
                  <input type="radio" ng-model="newDiet.nutrition[type]" value="{{amount}}"/>{{amount}}
                </td>
              </tr>
            </table>
          </div>
          <textarea type="text" ng-model="newDiet.details" placeholder="Details of Meal"></textarea>
          <div ng-repeat="tag in newDiet.tags" >
            <input type="text" ng-model="tag" placeholder="Add tag" ng-blur="newDiet.tags[$index] = tag; "/>
            <a ng-show="$last" ng-click="newDiet.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Feed the DB</button>
        </form>
        <div ng-repeat="(key,meal) in diet | limitTo:-100">
          <h4>{{meal.name}}</h4>
          <textarea type="text" ng-model="meal.details"></textarea>
          <code>{{meal.created | date:'MM/dd/yyyy @ h:mma' }}. <span ng-show="!remove" ng-click="remove = true"> [Erase] </span><a ` ng-show="remove" ng-click="remove = !remove">Cancel</a> <a ng-show="remove" ng-click="removeEntry('diet',key)"> Remove Meal </a></code>

          <hr/>
        </div>
      </div>
<!--

Exercise

-->
      <div style="{{beGone.exercise}}">

        <form id="exercise" ng-submit="addExercise(newExercise.time, newExercise.mode, newExercise.details, newExercise.tags); newExercise.time=''; newExercise.mode={}; newExercise.details=''; newExercise.tags=[''];" ng-init="newExercise.tags = ['']">
          <input type="number" ng-model="newExercise.time" placeholder="Duration of Exercise"/>
          <div ng-init="mode.types = ['cardio', 'strength', 'hiit', 'flex']; mode.amounts = ['none', 'some', 'much', 'lots']">
            <table>
              <tr>
                <th>Mode Type</th>
                <th>Mode Amount</th>
              </tr>
              <tr ng-repeat="type in mode.types">
                <td>{{type}}</td>
                <td ng-repeat="amount in mode.amounts">
                  <input type="radio" ng-model="newExercise.mode[type]" value="{{amount}}"/>{{amount}}
                </td>
              </tr>
            </table>
          </div>
          <textarea type="text" ng-model="newExercise.details" placeholder="Details of Routine"></textarea>
          <div ng-repeat="tag in newExercise.tags" >
            <input type="text" ng-model="tag" placeholder="Tags of Exercise" ng-blur="newExercise.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="newExercise.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Chisel Exercise into History</button>
        </form>
        <div ng-repeat="(key,exercise) in exercise | limitTo:-100">
          <div>{{exercise.time}} Minutes <textarea type="text" ng-model="exercise.details"></textarea></div>
          <div>{{exercise.tags}} | {{exercise.mode}}</div>
          <code>{{exercise.created | date:'MM/dd/yyyy @ h:mma' }}. <span ng-show="!remove" ng-click="remove = true"> [Erase] </span><a  ng-show="remove" ng-click="remove = !remove">Cancel</a> <a ng-show="remove" ng-click="removeEntry('exercise',key)"> Remove Exercise </a></code>

          <hr/>
        </div>

      </div>
<!--

Day

-->
      <div style="{{beGone.day}}">
        <label for="day">
        </label>
        <form id="day" ng-submit="addDay(newDay.recap, newDay.rating, newDay.goals); newDay.recap = ''; newDay.rating = ''; newDay.goals=[''];">
          <textarea type="text" ng-model="newDay.recap" placeholder="Particulars of the day, best achievements"></textarea>
          <select ng-init="ratings = ['great', 'good', 'average', 'bleh', 'shitty']" ng-model="newDay.rating" ng-options="rating for rating in ratings | uppercase"><option value="">Rate the day</option></select>
          <div ng-init="newDay.goals = [{name:'', done: false}];">
            <div ng-repeat="goal in newDay.goals track by $index" >
              <textarea type="text" ng-model="newDay.goals[$index].name" placeholder="Goals for tomorrow">
              </textarea>
            </div>
          </div>  
          <button class="submit">Surrender</button>
        </form>
        <hr>
        <div style="width:100%;margin:none;">
            <div ng-repeat="(key,day) in day | limitTo:-100">
                <code>{{day.created | date:'MM/dd/yyyy @ h:mma' }}. <span ng-show="!remove" ng-click="remove = true"> [Erase] </span><a  ng-show="remove" ng-click="remove = !remove">Cancel</a> <a ng-show="remove" ng-click="removeEntry('day',key)"> Remove day </a></code>
              <textarea name="" id="" ng-model="day.recap"></textarea>
              <div ng-repeat="goal in day.goals" ><input type="checkbox" ng-model="goal.done"/>{{goal.name}}</div>
              <hr/>
            </div>
        </div>

      </div>
<!--

Insight

-->
      <div style="{{beGone.insight}}">

        <form id="insight" ng-submit="addInsight(newInsight.title, newInsight.note); newInsight.title=''; newInsight.note='';">
          <div>
            <input type="text" ng-model="newInsight.title" placeholder="Insight Title"/>
          </div>
          <div>
            <textarea type="text" ng-model="newInsight.note" placeholder="Note" ></textarea>
          </div>
            <!-- p><a ng-if="$last" ng-click="newInsight.notes[$index + 1] = ' ';">Another Note</a></p -->
          <div>
            <button class="submit">Chronicle this Thought</button>
          </div>
        </form>
        <div class="posts" ng-repeat="(key,insight) in insight">
          <div><input type="text" ng-model="insight.title"/></div>
          <hr/>
           <p>
             <textarea type="text" ng-model="insight.note"></textarea>
           </p>

          <span ng-show="!remove" ng-click="remove = true"> X </span><a  ng-show="remove" ng-click="remove = !remove">Cancel</a> | <a ng-show="remove" ng-click="removeEntry('insight',key)"> Erase Insight </a>{{anInsight.created | date }}
        </div>
      </div>
  
  <!--

Note

-->
      <div style="{{beGone.note}}">

        <form id="note" ng-submit="addNote(newNote.note); newNote.note='';">
          <div>
            <textarea style="min-height:300px" type="text" ng-model="newNote.note" placeholder="Note" ></textarea>
          </div>
            <!-- p><a ng-if="$last" ng-click="newNote.notes[$index + 1] = ' ';">Another Note</a></p -->
          <div>

            <button class="submit">Jot</button>
          </div>
        </form>
        <div class="posts" ng-repeat="(key,note) in note">
          <hr/>
           <p>
             <textarea type="text" ng-model="note.note"></textarea>
           </p>

          <span ng-show="!remove" ng-click="remove = true"> X </span><a  ng-show="remove" ng-click="remove = !remove">Cancel</a> | <a ng-show="remove" ng-click="removeEntry('note',key)"> Erase Note </a>{{note.created | date }}
        </div>
      </div>
<!--

Tasks

-->
      <div style="{{beGone.task}}">
          <form name="tasks" id="tasks" ng-submit="addTask(newTask.name, newTask.description); newTask.name=''; newTask.description='';">
            <input type="text" ng-model="newTask.name" placeholder="Name task" />
            <textarea type="text" ng-model="newTask.description" placeholder="Describe task"></textarea>
            <button class="submit">Submit</button>
          </form>
        <hr/>
        <h3>Open Tasks</h3>
        <hr/>
        <div ng-show="!task.done === true" class="posts" ng-repeat="(key, task) in task">
          <b ng-click="completeTask(key)" ><a>{{task.name}}</a></i></b><textarea ng-model="task.description"></textarea></p>
        </div>
        <div style="width: 100%; clear: both">
          <hr/>
          <hr/>
          <h3>All tasks</h3>
          <hr/>
          <div class="posts" ng-repeat="(key,task) in task">
            <b style="margin-left: 4%; font-size: 1.4em" ng-click="unCompleteTask(key)" ><a>{{task.name}}</a></i></b>
            <hr/>
            <textarea ng-model="task.description"></textarea>
            <span ng-show="!remove" ng-click="remove = true"> X </span><a  ng-show="remove" ng-click="remove = !remove">Cancel</a> | <a ng-show="remove" ng-click="removeEntry('task',key)"> Remove Task </a>{{task.created | date }}

          </div>
        </div>

      </div>



</div>


  </body>
</html>

