<!doctype html>
<html ng-app="irth">

  <head>

      <title>Your Life</title>
    <link rel="stylesheet" href="style.css"/>
  </head>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="irth.js"></script>

  <body ng-controller="ctrl">
    <div style="background:whitesmoke; width:20%; float:left;" class="side">
      <div style="float:right; text-align: right; padding:1em; width: 100%; background: #444; color: #aaa">
        <h1 ng-if="authObj.$getAuth().password.email">{{ authObj.$getAuth().password.email}}Life</h1>
        <h1 ng-if="!authObj.$getAuth().password.email">yourLife</h1>
        <span ng-show="authObj.$getAuth() || authObj.$requireAuth().$$state.value.uid">
          <b>| <a ng-click="authObj.$unauth()">Logout</a></b>
        </span>
        <form ng-submit="auth(login.email, login.password)" ng-show="location.$$absUrl !== '' && !authObj.$getAuth()">
          <input ng-model="login.email" placeholder="Email"/>
          <input ng-model="login.password" type="password" placeholder="password"/>
          <button type="submit">Login</button>
        </form>
      </div>
      <span ng-repeat="(key,linkGroup) in nav">
        <span style="padding:1em;"><h2><a ng-click="showLinks[key] = !showLinks[key]">{{key | uppercase}}</a></h2></span>
        <div><button style="width:100%; padding:.1em" ng-show="showLinks[$parent.key]" ng-repeat="link in linkGroup" ng-click="hideAll(); beGone[link] = ''">{{link}}</button></div>
      </span>
    </div>

<div style="width: 79%; float:left; padding-left:1%;">

        <div ng-repeat="life in lifestyle" >
          <div style="{{beGone[life]}}">
          <form id="{{life}}" ng-init="new[life] = {}; entry = new.life" ng-submit="$parent.api.add[life](entry); entry={};">

            <div ng-if="life === 'activity'">
              Today's Goals:
              <b ng-if="$last" ng-repeat="yesterday in $parent.$parent.day | limitTo:-1 ">{{yesterday.goals}}</b>
              <hr>
              Open Tasks:
                <ul>
                  <li ng-show="!task.done === true" ng-repeat="(key,task) in $parent.task">
                    <b ng-click="completeTask(key); $parent.$parent.entry.name = task.name; $parent.$parent.entry.details = (task.description || task.details )" ><a>{{task.name}}</a> <code>{{task.description || task.details}}</code></b>

                  </li>
                </ul>
              <hr>
            </div>

            <div>
              <input type="text" ng-model="entry.name" placeholder="{{life}} name"/>
            </div>

            <div>
              <textarea type="text" ng-model="entry.details" placeholder="{{life}} details" ></textarea>
            </div>

            <div ng-if="life === 'day'">
              <textarea type="text" ng-model="entry.recap" placeholder="{{life}} recap" ></textarea>
              <textarea type="text" ng-model="entry.goals" placeholder="{{life}}-after's goals" ></textarea>
            </div>

            <div ng-if="life === 'diet'">
              <div ng-init="nutrition.types = ['protein', 'fats', 'grains', 'legumes', 'fruits', 'vegetables', 'seeds-nuts', 'sugars']; nutrition.amounts = ['none', 'some', 'much', 'many', 'lots']">
                <table>
                  <tr>
                    <th>Nutrition Type</th>
                    <th>Nutrition Amount</th>
                  </tr>
                  <tr ng-repeat="type in nutrition.types">
                    <td>{{type}}</td>
                    <td ng-repeat="amount in nutrition.amounts">
                      <input type="radio" ng-model="entry.nutrition[type]" value="{{amount}}"/>{{amount}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div ng-if="life === 'exercise'">
              <div ng-init="mode.types = ['cardio', 'strength', 'HIIT', 'flex']; mode.amounts = ['none', 'little', 'some', 'much', 'MOAR']">
                <table>
                  <tr>
                    <th>Mode Type</th>
                    <th>Mode Amount</th>
                  </tr>
                  <tr ng-repeat="type in mode.types">
                    <td>{{type}}</td>
                    <td ng-repeat="amount in mode.amounts">
                      <input type="radio" ng-model="$parent.$parent.$parent.entry.mode[type]" value="{{amount}}"/>{{amount}}
                    </td>
                  </tr>
                </table>
              </div>
            </div>
              <div ng-init="minutes = ''; hours = '';">
                <input type="number" ng-model="minutes" placeholder="Minutes" ng-change="entry.time = ((hours * 60) + minutes);"/>
                <input type="number" ng-model="hours" placeholder="Hours" ng-change="entry.time = ((hours * 60) + minutes);">
              </div>
            <input type="text" ng-model="entry.tags" placeholder="Tags"/>
            <select ng-init="ratings = ['great', 'good', 'average', 'bleh', 'shitty']" ng-model="entry.quality" ng-options="rating for rating in ratings | uppercase"><option value="">Quality</option></select>


            <div>
              <button class="submit">{{life}}</button>
            </div>
          </form>

          <div class="posts" ng-repeat="(key, entry) in $parent[life]">
            <input ng-if="entry.title" type="text" ng-model="entry.title" />
            <input ng-if="entry.name" type="text" ng-model="entry.name" />
            <code ng-if="entry.time">{{entry.time}} minutes </code>
            <div ng-if="entry.details">
              <label for="details">Details</label>
              <textarea id="details" ng-model="entry.details"></textarea>
            </div>
            <div ng-if="entry.description">
              <label for="description">Description</label>
              <textarea id="description" ng-model="entry.description"></textarea>
            </div>
            <div ng-if="entry.recap">
              <label for="recap">Daily recap</label>
              <textarea id="recap" ng-model="entry.recap"></textarea>
            </div>
            <div ng-if="entry.note">
              <textarea id="note" ng-model="entry.note"></textarea>
            </div>
            <div ng-if="entry.goals">
              <label for="goals">Next day's goals</label>
              <input type="checkbox" ng-model="entry.goals[0].done"/> Achieved
              <textarea id="goals" ng-if="entry.goals" ng-model="entry.goals"></textarea>
              <textarea id="goals" ng-if="entry.goals[0].name" ng-model="entry.goals[0].name"></textarea>
            </div>
            <div ng-if="$parent.life === 'task'">
              <button ng-show="entry.done===false" ng-click="$parent.$parent.$parent.completeTask(key)">Done</button>
              <a ng-show="entry.done!==false" ng-click="$parent.$parent.$parent.unCompleteTask(key)">Task Complete / Renew?</a>
            </div>

            <div ng-if="entry.tags">
              <input type="text" ng-model="entry.tags"/>
            </div>
            <div ng-repeat="(key,mode) in entry.mode track by $index">
              {{key}}: <input type="text" ng-model="entry.mode[key]"/>
            </div>
            <div ng-repeat="(key,nutrition) in entry.nutrition track by $index">
              {{key}}: <input type="text" ng-model="entry.nutrition[key]"/>
            </div>
            <span ng-show="!remove" ng-click="remove = true"> X </span>
            <a  ng-show="remove" ng-click="remove = !remove">Cancel</a> |
            <a ng-show="remove" ng-click="removeEntry(life,key)"> Kick it! </a>
            <code>
              {{entry.created | date}}
            </code>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>

