<!doctype html>
<html ng-app="irth">

  <head>

      <title>Tracking Popdown</title>
      <style>
        body {
          width: 600px;
          background: rgba(245,109,227,.38);
        }
        input[type=text], textarea {font-size: 4em; width:100%; margin:.1em 0; max-height: 50px}
        button {font-size: 1.6em;}
        button.submit {float:right; width:50%;}
      </style>
      <!--
        - JavaScript and HTML must be in separate files: see our Content Security
        - Policy documentation[1] for details and explanation.
        -
        - [1]: http://developer.chrome.com/extensions/contentSecurityPolicy.html
       -->
  </head>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="irth.js"></script>

  <body ng-controller="ctrl" >

    <div style="text-align:center; background:white; width:20%; float:left">
      <button style="width:100%; margin-bottom: .1em; " ng-click="login()">Login</button><button style="width:100%; margin-bottom: .1em" ng-repeat="life in lifestyle" style="width:15%;" ng-click="hideAll(); beGone[life] = ''">{{life}}</button>

    </div>

<div style="width: 80%; float:left">
<!--

Activity

-->
      <div style="{{beGone.activity}}">
        Today's Goals: 
        <span ng-repeat="goals in syncArray.day | limitTo:-1">
          <span ng-repeat="goal in goals.goals">
            <b>{{goal.name}}</b>
            <i ng-if="!$last">, </i>
          </span>
        </span>
        <hr>
        Tasks:
        <span ng-repeat="task in syncArray.task">
          <b ng-show="!task.done === true" ng-click="completeTask(task.$id)" >{{task.name}}<i ng-if="!$last">, </i></b>
        </span>
        <hr>
        <label for="activity">
          New Activity
        </label>
        <form id="activity" ng-submit="addActivity(activity.name,activity.time,activity.details,activity.tags); activity.name=''; activity.time=''; activity.details=''; activity.tags=['']" ng-init="activity.tags = ['']">
          <input type="text" ng-model="activity.name" placeholder="Activity"/>
          <input type="number" ng-model="activity.time" placeholder="Duration"/>
          <textarea type="text" ng-model="activity.details" placeholder="Details"></textarea>
          <div ng-repeat="tag in activity.tags" >
            <input type="text" ng-model="tag" placeholder="Tags" ng-blur="activity.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="activity.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Submit</button>
        </form>
        Past Activity:
        <span ng-repeat="activity in syncArray.activity | limitTo:-100">

            {{activity.name}}<i ng-if="!$last">, </i>

        </span>
        
      </div>
<!--

Events

-->
      <div style="{{beGone.event}}">

        <hr>
        <label for="event">
          New Event
        </label>
        <form id="event" ng-submit="addEvent(event.name,event.time); event.name=''; event.time='';">
          <input type="text" ng-model="event.name" placeholder="Event"/>
          <input type="number" ng-model="event.time" placeholder="Time"/>
          <button class="submit">Submit</button>
        </form>
        Past Events:
        <span ng-repeat="event in syncArray.event | limitTo:-100">

            {{event.created | date }} {{event.time}}: {{event.name}}<i ng-if="!$last">, </i>


        </span>
        
      </div>
<!--

Diet

-->
      <div style="{{beGone.diet}}">
        <label for="diet">
          Diet Form
        </label>
        <form id="diet" ng-submit="addDiet(diet.name, diet.time, diet.nutrition, diet.details,diet.tags); diet.name=''; diet.time=''; diet.nutrition={}; diet.details=''; diet.tags=[''];" ng-init="diet.tags = ['']">
          <select ng-init="meals = ['breakfast', 'lunch', 'dinner', 'snack']" ng-model="diet.name" ng-options="meal for meal in meals | uppercase"><option value="">Choose meal type</option></select>
          <input type="number" ng-model="diet.time" placeholder="Time of Meal"/>
          <div ng-init="nutrition.types = ['fats', 'grains', 'fruits', 'vegetables', 'seeds-nuts', 'sugars']; nutrition.amounts = ['none', 'some', 'much', 'lots']">
            <table>
              <tr>
                <th>Nutrition Type</th>
                <th>Nutrition Amount</th>
              </tr>
              <tr ng-repeat="type in nutrition.types">
                <td>{{type}}</td>
                <td ng-repeat="amount in nutrition.amounts">
                  <input type="radio" ng-model="diet.nutrition[type]" value="{{amount}}"/>{{amount}}
                </td>
              </tr>
            </table>
          </div>
          <textarea type="text" ng-model="diet.details" placeholder="Details of Meal"></textarea>
          <div ng-repeat="tag in diet.tags" >
            <input type="text" ng-model="tag" placeholder="Add tag" ng-blur="diet.tags[$index] = tag; "/>
            <a ng-show="$last" ng-click="diet.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Submit</button>
        </form>
        <div ng-repeat="meal in syncArray.diet">{{meal}}</div>
      </div>
<!--

Exercise

-->
      <div style="{{beGone.exercise}}">
        <label for="exercise">
          Exercise Form
        </label>
        <form id="exercise" ng-submit="addExercise(exercise.time, exercise.mode, exercise.details, exercise.tags); exercise.time=''; exercise.mode={}; exercise.details=''; exercise.tags=[''];" ng-init="exercise.tags = ['']">
          <input type="number" ng-model="exercise.time" placeholder="Duration of Exercise"/>
          <div ng-init="mode.types = ['cardio', 'strength', 'hiit', 'flex']; mode.amounts = ['none', 'some', 'much', 'lots']">
            <table>
              <tr>
                <th>Mode Type</th>
                <th>Mode Amount</th>
              </tr>
              <tr ng-repeat="type in mode.types">
                <td>{{type}}</td>
                <td ng-repeat="amount in mode.amounts">
                  <input type="radio" ng-model="exercise.mode[type]" value="{{amount}}"/>{{amount}}
                </td>
              </tr>
            </table>
          </div>
          <textarea type="text" ng-model="exercise.details" placeholder="Details of Routine"></textarea>
          <div ng-repeat="tag in exercise.tags" >
            <input type="text" ng-model="tag" placeholder="Tags of Exercise" ng-blur="exercise.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="exercise.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Submit</button>
        </form>
        <div ng-repeat="exercise in syncArray.exercise">{{exercise}}</div>

      </div>
<!--

Day

-->
      <div style="{{beGone.day}}">
        <label for="day">
          <h3>Day Form</h3>
        </label>
        <form id="day" ng-submit="addDay(day.recap, day.rating, day.goals); day.recap = ''; day.rating = ''; day.goals='';">
          <textarea type="text" ng-model="day.recap" placeholder="Particulars of the day, best achievements"></textarea>
          <select ng-init="ratings = ['great', 'good', 'average', 'bleh', 'shitty']" ng-model="day.rating" ng-options="rating for rating in ratings | uppercase"><option value="">Rate the day</option></select>
          <div ng-init="day.goals = [{name:'', done: false}];">
            <div ng-repeat="goal in day.goals track by $index" >
              <textarea type="text" ng-model="day.goals[$index].name" placeholder="A goal for tomorrow">
              </textarea>
              <div ng-if="$last"><a ng-click="$parent.day.goals[$index + 1] = {name:'', done: false};">Add Goal</a></div>
            </div>
          </div>  
          <button class="submit">Submit</button>
        </form>
        <hr>
        <h3>Past 5 Days</h3>
        <div style="width:50%; float:left; margin:none;">
          <ul style=" padding:1em">
          <h4>Summaries</h4>
            <li ng-repeat="day in syncArray.day | limitTo:-5">{{day.recap}}</li>
          </ul>
        </div>
        <div style="width:50%; float:left; margin:none;">
          <ul style=" padding:1em">
          <h4>Goals</h4>
            <li ng-repeat=" day in syncArray.day | limitTo:-5 | orderBy:'$id' ">{{day.goals}}</li>
          </ul>
        </div> 
      </div>
<!--

Insight

-->
      <div style="{{beGone.insight}}">
        <label for="insight">
          Insight Form
        </label>
        <form id="insight" ng-submit="addInsight(insight.details, insight.tags); insight.name=''; insight.importance=''; insight.details=''; insight.tags=['']; " ng-init="insight.tags = ['']">
          <textarea type="text" ng-model="insight.details" placeholder="Dig deep"></textarea>
          <div ng-repeat="tag in insight.tags">
            <input type="text" ng-model="tag" placeholder="Tags of Insight" ng-blur="insight.tags[$index] = tag; "/>
            <a ng-show="$last" ng-click="insight.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Submit</button>
        </form>
        <div ng-repeat="insight in syncArray.insight">{{insight}}</div>

      </div>
<!--

Tasks

-->
      <div style="{{beGone.task}}">
      Tasks:
        <div ng-repeat="task in syncArray.task">
          <b ng-show="!task.done === true" ng-click="completeTask(task.$id)" >{{task.name}}<i ng-if="!$last">, </i></b>
        </div>
        <label for="tasks">
          Tasks Form
        </label>
        <form name="tasks" id="tasks" ng-submit="addTask(task.name, task.importance, task.details, task.tags); task.name=''; task.importance=''; task.details=''; task.tags=[''];" ng-init="task.tags = ['']">
          <textarea type="text" ng-model="task.name" placeholder="Name this Task"></textarea>
          <select ng-init="importance = ['extremely', 'sort-of', 'meh']" ng-model="task.importance" ng-options="importance for importance in importance | uppercase"><option value="">Importance of Task</option></select>
          <textarea type="text" ng-model="task.details" placeholder="Details of task"></textarea>
          <div ng-repeat="tag in task.tags">
            <input type="text" ng-model="tag" placeholder="Tags of Task" ng-blur="task.tags[$index] = tag;"/>
            <a ng-show="$last" ng-click="task.tags[$index + 1] = '';">Another Tag</a>
          </div>
          <button class="submit">Submit</button>
        </form>

        <div ng-repeat="task in syncArray.task">
          <i ng-click="removeEntry('task',task.$id)"> X </i>{{task.$id}}: <b ng-click="unCompleteTask(task.$id)" >{{task.name}}<i ng-if="!$last">, </i></b>
        </div>
      </div>


</div>


  </body>
</html>

